<%- include('partials/head.ejs', { title: pageName }) %>
<%- include('partials/menu.ejs', {pages : pages}) %>
<head>
       <base href='http://localhost:3000/page/<%=pageName%>'>
</head>
<div class="page-container" id="container">
    <center>
        <h3><%=pageName %></h3>
    </center>

   
</div>

<% var contents = JSON.stringify(contents) %>
<% var pageName = pageName %>

<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    (async function() {
        var contents = <%- contents %>;
        var pageName = "<%= pageName %>";
        for (var content of contents) {
            var base = `http://localhost:3000/page/${pageName}/${content.name}/`
            document.getElementsByTagName("base")[0].href= base;

            var wellDiv = document.createElement('div');
            
            wellDiv.className = "well";
            wellDiv.innerHTML = `<center><h2>${content.name}</h2></center> <br>` + content.body;

            var container = document.getElementById("container");
            container.appendChild(wellDiv);
            // seems that it solves concurency issues with changing base
            // without that further contents may change the base before previous request for all
            // embedded reseources
            await sleep(0);
        }
    })();
</script>