<%- include('partials/head.ejs', { title: 'Education' }) %>
<%- include('partials/menu.ejs', {pages : pages}) %>

<%=pageName %>

<% if (locals.contents) {
    for (var content of contents) { %>
            <%-content %>
            <html>
                <head>
                    <base href='http://localhost:3000/page/<%=pageName%>/<%=content%>/'>
                </head>
                <body>
                    
                    <iframe id="<%=content%>" src="/page/<%=pageName%>/<%=content%>/"></iframe>
                </body>
            </html>
<%  }
   } %>

