<%- include('../partials/head.ejs', { title: 'Upload' }) %>
<%- include('../partials/menu.ejs', {pages : pages}) %>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script> 

<div class="page-container">
  
    <div class="well">
       <%- include('uploadPage.ejs') %>
    </div>

    <div class="well">
            <%- include('uploadPageContent.ejs', {pages : pages}) %>
         </div>

    <div class="well">
        <%- include('editPageContent.ejs', {pageContents : pageContents}) %>   
    </div>

    <div class="well">
        <%- include('editPageOrder.ejs', {pages : pages}) %>
    </div>

</div>




